<p style="color: green"><%= notice %></p>

<h1 class="text-center text-primary my-3">Groups</h1>

<div id="groups" class="container" >
  <% @groups.each do |group| %>
   <%= link_to operations_path do %>
    <%= render group %>
    <%end%>
  <% end %>
</div>

<div class=" d-grid gap-2">
  <%= link_to "New group", new_group_path, class: "btn btn-primary" %>
  <%= link_to "Home",  user_path(@user.id), class: "btn btn-primary" %>
  <%= button_to "sign-out", destroy_user_session_path, method: :delete, class: "btn btn-danger w-100"  %>
</div>
