<p style="color: green"><%= notice %></p>

<%= render @group %>

<div class=" d-grid gap-2">
  <%= link_to "Edit this group", edit_group_path(@group), class: "btn btn-success" %> 
  <%= link_to "Back to groups", groups_path, class: "btn btn-secondary"  %>
  <%= button_to "Delete this group", @group, method: :delete, class: "btn btn-danger w-100"  %>
</div>
